#wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 10%;
  height: 100%;
  justify-content: center;
  list-style: none;
}

.cat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 75%;
}

.listItem {
  margin-top: 1em;
  margin-bottom: 1em;
}

h3 {
  margin-top: 0;
  flex-basis: 100%;
  text-align: center;
}

figure {
  width: 100%;
}

@media screen and (min-width: 1000px) {
  figure {
    width: 40%;
  }
}

img {
  width: 100%;
  max-width: 100%;
}

.counter1, .counter2 {
  margin-top: 1em;
}