#wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cat {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  max-width: 100%;
}

h3 {
  margin-top: 0;
}
